* {
    margin: 0;
    padding: 0;
}

.h1 {
    background-image: url(https://images6.alphacoders.com/535/thumb-1920-535496.jpg);
    background-size: cover;
}


/* POLICE */

@font-face {
    font-family: "play";
    src: url(font-module/play.ttf);
}


/* HEADER */

header {
    width: 100%;
    height: 100px;
    background-color: rgba(233, 233, 233, 0.856);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
}

.encart {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-left: 60%;
    margin-top: 2%;
}

li {
    margin-left: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'play';
    font-weight: bold;
    font-size: 23px;
    opacity: 95%;
}

a:hover {
    text-shadow: 2px 2px 3px rgba(66, 66, 66, 0.507);
    opacity: 1;
    transition-duration: 0.3s
}


/* FOOTER */

footer {
    width: 100%;
    height: 70px;
    background-color: rgba(233, 233, 233, 0.856);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
}

.fot {
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}


/************************* PAGE INDEX *************************/


/* MAIN  */

.imageps5 {
    width: 99.99%;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
}

.pindex1 {
    color: white;
    font-size: 30px;
    font-family: "play";
    text-shadow: 2px 2px 2px black;
    margin-top: 20px;
}

.sectionindex1 {
    display: flex;
    justify-content: space-between;
}

.caseindex1 {
    padding: 200px;
    background-color: rgba(255, 255, 255, 0.034);
}


/* INSCRIPTION */

.cadre-inscription {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.tab-inscription {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 15px;
    width: 450px;
    margin-top: 50px;
    border-radius: 20px;
    border: 2px solid white;
    border-collapse: collapse;
    background-color: rgba(233, 233, 233, 0.856);
    font-family: 'play';
    font-size: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.315);
}

.footer-inscription {
    margin-top: 188px;
    width: 100%;
    height: 70px;
    background-color: rgba(233, 233, 233, 0.856);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
}


/* ADMIN */

.titre-admin {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-family: 'play';
    font-size: 40px;
    color: white;
}

table {
    width: 800px;
    margin-top: 50px;
    border-collapse: collapse;
    background-color: rgba(233, 233, 233, 0.856);
    font-family: 'play';
    font-size: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.315);
}

th,
td {
    font-family: 'play';
    color: black;
    border: 2px solid black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.tableaucentre {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.button-deco {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer-admin {
    margin-top: 13%;
    width: 100%;
    height: 70px;
    background-color: rgba(233, 233, 233, 0.856);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
}


/* CONNEXION */

.footer-connexion {
    margin-top: 15%;
    width: 100%;
    height: 70px;
    background-color: rgba(233, 233, 233, 0.856);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
}


/* PROFIL */

.footer-profil {
    margin-top: 14%;
    width: 100%;
    height: 70px;
    background-color: rgba(233, 233, 233, 0.856);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
}

.profil {
    display: flex;
    justify-content: center;
}

.tableauprofil {
    padding-top: 30px;
    padding-bottom: 15px;
    width: 450px;
    margin-top: 50px;
    border-radius: 20px;
    border: 2px solid white;
    border-collapse: collapse;
    background-color: rgba(233, 233, 233, 0.856);
    font-family: 'play';
    font-size: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.315);
    text-align: center;
}

h3 {
    font-family: "play";
    font-size: 25px;
}

input {
    width: 150px;
    height: 25px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.185);
    color: black;
    font-family: "play";
    font-size: 22px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.555);
}

.espace {
    margin-top: 15px;
}